name: Verify translations

on:
  push:
    branches-ignore:
      - 'l10n/*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.24.0
        with:
          php-version: 8.0

      - name: Verify translations
        run: php .github/workflows/verify-translations.php ${{ github.workspace }}
